---
title: Task list
description: Description goes here
section: Components
aliases:
backlog_issue_id: 99999
layout: layout-pane.njk
status: Experimental
statusMessage: This component is currently experimental because <a class="govuk-link" href="#next-steps">more research</a> is needed to validate it.
---

{% from "_example.njk" import example %}

Intro.

{{ example({group: "components", item: "task-list", example: "default", html: true, nunjucks: true, open: false, size: "xl"}) }}

## When to use this component

TODO
## When not to use this component

TODO

## How it works

TODO

## Research and testing

TODO

### Next steps

TODO
