---
title: Task list
layout: layout-example.njk
---

{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{{ govukTaskList({
  items: [
    {
      title:
        {
          text: "Company Directors"
        },
      href: "#",
      status: {
        text: "Completed",
        classes: "govuk-task-list__status--completed"
      }
    },
    {
      title:
        {
          text: "Registered company details"
        },
      href: "#",
      status: {
        text: "Not started",
        classes: "govuk-task-list__status--not-started"
      }
    },
    {
      title:
        {
          text: "Financial history"
        },
      hint: {
        text: "Include 5 years of the company's relevant financial information."
      },
      href: "#",
      status: {
        text: "Incomplete",
        classes: "govuk-task-list__status--incomplete"
      }
    },
    {
      title:
        {
          text: "Business plan"
        },
      href: "#",
      status: {
        text: "In progress",
        classes: "govuk-task-list__status--in-progress"
      }
    },
    {
      title:
        {
          text: "References"
        },
      href: "#",
      status: {
        text: "Cannot start yet",
        classes: "govuk-task-list__status--cannot-start-yet"
      }
    }

  ]
})

}}
